body {
	padding-top: 170px;
}

form#registrationForm {
	margin-top: 40px;
}

form.my-form {
	margin-top: 95px;
}

.table>thead>tr>td {
	font-weight: bold;
}

.table {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	body {
		padding-top: 90px;
	}

	form#registrationForm {
		margin-top: 20px;
	}

	form.my-form {
		margin-top: 20px;
	}
}